/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Quicksand");
/* line 5, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.sass */
html, body {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
  background: url("../images/bg.png") center no-repeat;
  background-size: 100% 100%;
}

/* line 24, ../sass/screen.sass */
#wrapper {
  padding: 0px;
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  background-color: white;
}

/* line 32, ../sass/screen.sass */
#logo {
  width: 100px;
  height: 100px;
  float: left;
}

/* line 37, ../sass/screen.sass */
#top {
  height: 105px;
  margin: 0px auto;
  max-width: 1000px;
  background-color: white;
  padding: 10px;
}

/* line 44, ../sass/screen.sass */
#bottom {
  text-align: center;
  margin: 0px auto;
  max-width: 1000px;
  background-color: white;
  padding: 20px;
}

/* line 51, ../sass/screen.sass */
.my-drop-shadow {
  -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
  -ms-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
  -o-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
}

/* line 58, ../sass/screen.sass */
.post {
  padding: 20px;
  border-left: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  margin-top: 10px;
  font-size: 1.1em;
}

/* line 65, ../sass/screen.sass */
.largeimage {
  background: url("../images/cover.png") center no-repeat;
  background-size: 100%;
  height: 300px;
  width: 100%;
}

/* line 71, ../sass/screen.sass */
h1, h2, h3, h4 {
  font-weight: bold;
  color: #332b2b;
}

/* line 75, ../sass/screen.sass */
h1 {
  font-size: 48px;
}

/* line 78, ../sass/screen.sass */
h2 {
  font-size: 36px;
}

/* line 81, ../sass/screen.sass */
h3 {
  font-size: 24px;
  padding-bottom: 20px;
}
